/* login page */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.button-container {
  width: 300px;
  margin: 100px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.button-container .create-button,
.button-container .get-token {
  display: block;
  width: 100%;
  background-color: #559c67;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.get-token {
  display: block;
  width: 10%;
  background-color: #559c67;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
}

#myDIV h2 {
  margin-left: 10px;
}

.button-container .get-token {
  background-color: #50c878;
}

.button-container .create-button:hover {
  background-color: #218838;
}

.button-container input[type="text"],
.button-container input[type="password"] {
  width: calc(100% - 22px); /* Adjusted width */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.responseError {
  color: red;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.responseError2 {
  color: rgb(72, 255, 0);
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.custom-text-style {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: blue; /* Change the color as needed */
  /* Add any other styles you want to apply */
}

#userDataHeader {
  font-family: Arial, sans-serif;
  font-size: 18px; /* Adjust the font size as needed */
  /* Add any other styles you want to apply */
  margin-left: 10px;
}

#add-location,
#submit-location-data,
#clear-location-data {
  display: block;
  width: 10%;
  background-color: #559c67;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

#submit-location-data {
  background-color: #50c878;
}

#add-location:hover,
#submit-location-data:hover,
#clear-location-data:hover {
  background-color: #218838;
}

.header h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input,
.input-container button {
  margin-right: 5px;
  height: 30px;
  margin-left: 10px;
}

#add-location {
  height: 40px;
  width: 90px;
}


.footer {
  background-color: #50c878;
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 75px;
}
* {
  margin: 0;
  padding: 0;
}
.bandim_image {
  display: block;
  margin: auto;
  margin-top: -75px;
  bottom: 75px;
  height: 400px;
}

#amazing {
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bandim_image,
  .footer,
  .header,
  .map {
    width: auto;
  }
  .login-box {
    width: 300px;
  }
}

@media only screen and (max-width: 1200px) {
  .map {
    width: 100vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 992px) {
  .map {
    width: 100vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .map {
    width: 100vh;
    margin: 0 auto;
  }
}

/* homepage */
.bg-green {
  background-color: #50c878;
}

.logo {
  max-width: 60px;
}
.footer2 {
  background-color: #50c878;
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 75px;
}

.elements {
  display: flex;
}

.slidecontainer {
  margin-top: 20px;
  margin-left: 8px;
  width: 20%;
}

.googleMap {
  margin-right: auto;
  width: 80%;
  height: 800px;
  flex-grow: 1;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

/* Coworkers */

.person-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}
.person-img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  vertical-align: top;
}
.person-details {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.person-cardd {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Guidelines */

.vaccvideo {
  display: block;
  margin: auto;
  width: 100vh;
  height: 60vh;
  margin-bottom: 20px;
}

.videotext {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #50c878;
  color: white;
  font-size: 16px;
}

.buttons button:hover {
  background-color: #45a049;
}

#patientForm {
  display: none;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#responseDisplay {
  padding-top: 30px;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  #map-container {
      width: 100%;
      top: 100px; /* Adjust according to the height of your header */
      bottom: 100px; /* Adjust according to the height of your footer */
  }

  #map {
      height: calc(100% - 200px); /* Adjust according to the combined height of your header and footer */
  }

  #content-container {
      margin-right: 0;
      padding: 20px;
  }
}